.my-100 {
  min-height: 100vh;
}
.flex {
  display: flex;
}
.column {
  flex-flow: column;
}
.justify-between {
  justify-content: space-between;
}

.division {
  width: 100%;
}

.a {
  display: flex;
  flex-flow: column
}

/* Mueve el contenido y el footer a la derecha */
/* .translate {
  transform: translateX(65%);
} */

.main-content {
  transition: transform .25s;
  display: grid;
  min-height: 92vh;
  grid-template-rows: 1fr auto;
}

@media screen and (min-width: 775px) {
  .translate{transform: translateX(0);}
}
