:root {
  font-family: Montserrat, Poppins, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark: #2B2B2B;


  --primary: #E61952;
  --primary-dark1:#560B26;
  --secondary: #111223;
  --secondary-dark: #232A31;

  

  --complement-dregrade1: #FF39FF;
  --complement-dregrade2: #98DD00;
  --complement-dregrade3: #FFFF50;
  --complement-dregrade4: #00B3EA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
